.App {
}
body {
  background-color: #17a2b8;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a {
  color: inherit;
  text-decoration: none;
}

.action-form {
  border: 1px solid #E8E8E8;
  margin: 60px 20%;
  padding: 60px 5px;
  background-color: #fff;
  border-radius: 7px;
}

.punchline-button {
  width: 50%;
  margin: 0px auto 10px auto;
}
.public-joke-card {
  margin: 20px auto;
  padding: 10px 20px;
  max-width: 600px;
}
.card-header {
  text-align: right;
}
.icon {
  padding: 0 5px;
}
h2, h3 {
  padding-top: 60px;
}
.form-text {
  padding-top: 20px;
}
.load-more-button {
  margin: 0 auto 50px;
}
@media (min-width: 576px) {
  .container, .container-sm {
      max-width: 620px;
  }
}
@media (min-width: 992px) {
  .container, .container-sm {
      max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container, .container-sm {
      max-width: 1260px;
  }
}
